JIRA_BASE_URL=https://egoshoes.atlassian.net
JIRA_EMAIL=naveed@ego.co.uk
JIRA_API_TOKEN=replace-with-your-new-rotated-token
JIRA_QA_ASSIGNEES=Sana.khan,Naveed Chughtai
API_PORT=8787
VITE_API_TARGET=http://localhost:8787

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
OPENAI_TIMEOUT_MS=60000

CF_UK_URL=https://cfstaging.ego.co.uk/
CF_US_URL=https://cfstaging.egoshoes.com/us
CF_EU_URL=https://cfstaging.egoshoes.com/eu
UAT1_UK_URL=https://cf-uat1.ego.co.uk/
UAT1_US_URL=https://cf-uat1.egoshoes.com/us
UAT1_EU_URL=https://cf-uat1.egoshoes.com/eu
DEFAULT_TEST_ENV=CF
DEFAULT_LOCALE=UK
PLAYWRIGHT_BASE_URL=
PLAYWRIGHT_REPORT_DIR=./reports/playwright
LOGIN_EMAIL=
LOGIN_PASSWORD=
